In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/train.csv")

# Exploración de Datos

In [3]:
df.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.71     Fair     F     SI1   57.0   68.0  6.05  5.87  3.40   2198
1   1   0.75  Premium     F    VVS2   62.4   57.0  5.88  5.75  3.63   3822
2   2   0.70     Good     H     VS2   59.1   65.0  5.75  5.85  3.43   2234
3   3   1.75  Premium     I     VS1   60.6   60.0  7.80  7.84  4.74  12416
4   4   1.18  Premium     G    VVS2   59.7   58.0  6.94  6.90  4.13   9537

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       40455 non-null  int64
 1   carat    40455 non-null  float64
 2   cut      40455 non-null  object
 3   color    40455 non-null  object
 4   clarity  40455 non-null  object
 5   depth    40455 non-null  float64
 6   table    40455 non-null  float64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
 10  price    40455 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 3.4+ MB

In [5]:
df.describe()

,id,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,20227.000000,0.797765,61.746387,57.458349,5.732448,5.736642,3.539624,3939.115486
std,11678.496907,0.471240,1.435767,2.234047,1.116915,1.147165,0.707259,3985.487211
min,0.000000,0.200000,43.000000,44.000000,0.000000,0.000000,0.000000,326.000000
25%,10113.500000,0.400000,61.000000,56.000000,4.720000,4.730000,2.910000,956.000000
50%,20227.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000,2416.000000
75%,30340.500000,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000,5339.000000
max,40454.000000,4.500000,79.000000,95.000000,10.230000,58.900000,31.800000,18823.000000

In [6]:
df.isnull().sum() #tengo 0 valores nules TO wapo

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

# Agrupación de Datos

Exploro las diferentes columnas categóricas para tratar de agrupar los datos lo máximo posible.

In [7]:
df.cut.value_counts() #En este caso tengo 6 categorias. Razonablemente bien distribuidos

Ideal        16172
Premium      10245
Very Good     9164
Good          3660
Fair          1214
Name: cut, dtype: int64

In [8]:
df.color.value_counts()

G    8497
E    7340
F    7171
H    6215
D    5111
I    4012
J    2109
Name: color, dtype: int64

In [9]:
df.clarity.value_counts()

SI1     9752
VS2     9271
SI2     6875
VS1     6117
VVS2    3819
VVS1    2746
IF      1335
I1       540
Name: clarity, dtype: int64

In [10]:
#pintar las distribuciones aquí

# Convierto las categorías en númericas

In [11]:
#df_data = pd.get_dummies(df) #creo que no se hace con Get Dummies

#Qué diferencia hay entre get dummies y Hot encoder???¿?¿¿?

#Si tenemos categorías que tienen valor en sí mismas, 
#como "bueno, malo, regular" lo ideal sería no dejar que
#LabelEncoder lo haga de forma automática si no aplicarlo nosotras a mano, ya que el valor que ponemos puede influir en el peso que el algoritmo le da a esas variables.

#Para evitar esto, "OneHotEncode" esa columna. 
#Lo que hace una codificación en caliente es que toma una columna 
#que tiene datos categóricos, que ha sido codificada con etiquetas
#, y luego divide la columna en múltiples columnas. Los números son reemplazados por 
#1s y 0s, dependiendo de qué columna tiene qué valor.

In [12]:
#Voy a hacer el uso de One Hot Encoder.

In [13]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()

In [14]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.71,Fair,F,SI1,57.0,68.0,6.05,5.87,3.40,2198
1,1,0.75,Premium,F,VVS2,62.4,57.0,5.88,5.75,3.63,3822
2,2,0.70,Good,H,VS2,59.1,65.0,5.75,5.85,3.43,2234
3,3,1.75,Premium,I,VS1,60.6,60.0,7.80,7.84,4.74,12416
4,4,1.18,Premium,G,VVS2,59.7,58.0,6.94,6.90,4.13,9537
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,1.07,Ideal,F,SI1,62.7,56.0,6.47,6.53,4.08,5982
40451,40451,1.19,Premium,G,SI2,58.9,60.0,7.00,6.92,4.09,4758
40452,40452,2.04,Premium,F,SI2,60.2,58.0,8.24,8.17,4.94,18231
40453,40453,0.86,Premium,E,SI1,61.9,61.0,6.07,5.99,3.73,3323
40454,40454,1.55,Very Good,H,SI1,63.2,57.0,7.35,7.31,4.64,7066

In [15]:
labels = ["Color_" + a for a in list(df.color.unique())]
#df.cut.unique()
#labels = ["Title_" + a for a in list(data.Title.unique())]
labels

['Color_F', 'Color_H', 'Color_I', 'Color_G', 'Color_J', 'Color_E', 'Color_D']

In [16]:
COLOR = onehotencoder.fit_transform(df["color"].values.reshape(-1,1)).toarray()

In [17]:
df[labels] = pd.DataFrame(COLOR,index = df.index)

In [18]:
df.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price,Color_F,Color_H,Color_I,Color_G,Color_J,Color_E,Color_D
0,0,0.71,Fair,F,SI1,57.0,68.0,6.05,5.87,3.40,2198,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,0.75,Premium,F,VVS2,62.4,57.0,5.88,5.75,3.63,3822,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,0.70,Good,H,VS2,59.1,65.0,5.75,5.85,3.43,2234,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,1.75,Premium,I,VS1,60.6,60.0,7.80,7.84,4.74,12416,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4,1.18,Premium,G,VVS2,59.7,58.0,6.94,6.90,4.13,9537,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Estaría bien darle orden gerarquico a CUT

In [19]:
df.cut.unique()

array(['Fair', 'Premium', 'Good', 'Very Good', 'Ideal'], dtype=object)

In [20]:
dic_para_hot = {"Fair": 1,
                "Good": 2,
                "Very Good": 3,
                "Premium":4,
                "Ideal":6
               }

In [21]:
df.cut = df.cut.map(dic_para_hot)

In [22]:
df.clarity.unique()

array(['SI1', 'VVS2', 'VS2', 'VS1', 'VVS1', 'I1', 'SI2', 'IF'],
      dtype=object)

In [23]:
## Parece que no importa en el precio

In [24]:
labels_Clarity = ["Clarity_" + a for a in list(df.clarity.unique())]
#df.cut.unique()
#labels = ["Title_" + a for a in list(data.Title.unique())]
labels_Clarity

['Clarity_SI1',
 'Clarity_VVS2',
 'Clarity_VS2',
 'Clarity_VS1',
 'Clarity_VVS1',
 'Clarity_I1',
 'Clarity_SI2',
 'Clarity_IF']

In [25]:
CLARITY = onehotencoder.fit_transform(df["clarity"].values.reshape(-1,1)).toarray()

In [26]:
df[labels_Clarity] = pd.DataFrame(CLARITY,index = df.index)

Miro si hay algunas variables con alta correlación

## Feature Scaling:  Normalización de carat

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
min_max = MinMaxScaler()

In [29]:
df["carat"] = min_max.fit_transform(df[["carat"]])

In [30]:
dfr = df.drop(['color',"clarity"], 1)

In [39]:
dfr.head(1)

,id,carat,cut,depth,table,x,y,z,price,Color_F,...,Color_E,Color_D,Clarity_SI1,Clarity_VVS2,Clarity_VS2,Clarity_VS1,Clarity_VVS1,Clarity_I1,Clarity_SI2,Clarity_IF
0,0,0.118605,1,57.0,68.0,6.05,5.87,3.4,2198,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# Preparo el Data Set para hacer Train_Test_Split

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
dfr.columns

Index(['id', 'carat', 'cut', 'depth', 'table', 'x', 'y', 'z', 'price',
       'Color_F', 'Color_H', 'Color_I', 'Color_G', 'Color_J', 'Color_E',
       'Color_D', 'Clarity_SI1', 'Clarity_VVS2', 'Clarity_VS2', 'Clarity_VS1',
       'Clarity_VVS1', 'Clarity_I1', 'Clarity_SI2', 'Clarity_IF'],
      dtype='object')

In [42]:
Columnas_X = [a for a in (list(dfr.columns)) if a != "price"]

In [43]:
X = dfr[Columnas_X]

In [44]:
y = dfr["price"]

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [46]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [38]:
models = { "ridge": Ridge(),
          "lasso": Lasso(),
          "sgd": SGDRegressor(),
          "knn": KNeighborsRegressor(),
          "gradient": GradientBoostingRegressor()
}

In [47]:
for name, model in models.items():
    print(f"Entrenando modelo ---> {name}")
    model.fit(X_train,y_train)
    print(f"He acabado :)")

Entrenando modelo ---> ridge
He acabado :)
Entrenando modelo ---> lasso
He acabado :)
Entrenando modelo ---> sgd
He acabado :)
Entrenando modelo ---> knn
He acabado :)
Entrenando modelo ---> gradient
He acabado :)

## Métricas

In [48]:
from sklearn import metrics
import numpy as np

In [49]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"--------{name}--------")
    print("MAE: ", metrics.mean_absolute_error(y_test, y_pred))
    print("MSE: ", metrics.mean_squared_error(y_test,y_pred))
    print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
    print("R2: ", metrics.r2_score(y_test,y_pred))
    print("\n")

--------ridge--------
MAE:  758.0929474154306
MSE:  1352830.2745230733
RMSE:  1163.1123224018709
R2:  0.9160335215698556


--------lasso--------
MAE:  753.0465444955012
MSE:  1353461.6659145928
RMSE:  1163.383713963107
R2:  0.915994332831508


--------sgd--------
MAE:  5.0673609262131e+16
MSE:  3.420517938088339e+33
RMSE:  5.848519417842723e+16
R2:  -2.1230220159706964e+26


--------knn--------
MAE:  2731.585687801261
MSE:  14507484.775988137
RMSE:  3808.869225372294
R2:  0.0995600627372859


--------gradient--------
MAE:  415.0694326249268
MSE:  561886.7510017048
RMSE:  749.5910558442549
R2:  0.9651252247627284

In [55]:
#to_predict = dfr.drop("price", 1)

In [56]:
#to_predict

,id,carat,cut,depth,table,x,y,z,Color_F,Color_H,...,Color_E,Color_D,Clarity_SI1,Clarity_VVS2,Clarity_VS2,Clarity_VS1,Clarity_VVS1,Clarity_I1,Clarity_SI2,Clarity_IF
0,0,0.118605,1,57.0,68.0,6.05,5.87,3.40,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,0.127907,4,62.4,57.0,5.88,5.75,3.63,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,0.116279,2,59.1,65.0,5.75,5.85,3.43,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,0.360465,4,60.6,60.0,7.80,7.84,4.74,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,0.227907,4,59.7,58.0,6.94,6.90,4.13,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.202326,6,62.7,56.0,6.47,6.53,4.08,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
40451,40451,0.230233,4,58.9,60.0,7.00,6.92,4.09,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
40452,40452,0.427907,4,60.2,58.0,8.24,8.17,4.94,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
40453,40453,0.153488,4,61.9,61.0,6.07,5.99,3.73,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
40454,40454,0.313953,3,63.2,57.0,7.35,7.31,4.64,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [58]:
#y_pred = GradientBoostingRegressor().predict(to_predict)